body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 30px;
    display: flex;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #444;
    margin-left: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cart {
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
